* {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(240, 221, 246);
}

.form-text{
    color: gray;
    font-size: 1rem;
}
.form-text::first-letter{
    color: rgb(153, 0, 255);
}

